# dbt system files
dbt_packages/
dbt_internal_packages/
logs/
target/
.env
modules/

# Data exclusions
data/1_raw/*
data/2_interim/*
!data/**/.gitkeep

# System files
.DS_Store
.vscode/
.vscode/*.json

# Python/Notebook exclusions
.ipynb_checkpoints/
__pycache__/
*.pyc